{% extends "Home/base.html" %} {%load static %} {% block content %}

<div class="about-info">
  <div class="about-header">
    <h1 class="display-6 text-center alert alert-light shadow">About</h1>
  </div>
  <div class="about-details mt-5">
    <h4 class="text-center mt-5">
      Athena leverages AI and data to make the contracting process easy and fast
      .
    </h4>
    <h5 class="mt-5">Drafting</h5>
    <p>
      Athena analyses data to give you a template with the most favourable terms
      of a contract . You can then edit the clause options to suit your business
      needs. Athena generates questions to help you personalise the template .
      Every response to the question will result in the deletion or addition of
      a clause .
    </p>
    <h5>AI Contract Review</h5>

    <p>
      Athena uses natural language processing to flag legal terms and clauses,
      then help you draw your attention to their implications .It then provides
      you with alternative terms and clauses than are more favourables.
    </p>
    <h5>Contract Management</h5>

    <p>
      Athena provides a platform for collaborative writing and editing . The
      platform allows the parties to the contract to negotiate the terms of the
      contract through flagging and feedback tools in real time. The platform
      accelerate conclusion of a contract through its e-signing tool.
    </p>
  </div>
  <section class="side-text my-5 text-center shadow-sm">
    <div class="alert alert-light" role="alert">
      Dont waste time and money on legal docs! Build your business <br />
      Let us handle the rest .
    </div>
  </section>
</div>
{% endblock%}
